@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";




@include fontFace('Panton','../fonts/Panton-Light', 300);
@include fontFace('Panton','../fonts/Panton-Regular', 400);
@include fontFace('Panton','../fonts/Panton-SemiBold', 600);
@include fontFace('Panton','../fonts/Panton-Bold', 800);



html {
  font-size: 1vw;
  font-family: 'Panton', Arial, sans-serif;
}

body {
  min-width: 320px;
  @include fontSize(14px);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.animation--fading {
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all .3s ease;

  &.open {
    visibility: visible;
    z-index: 99999;
    opacity: 1;
    transition: all .3s ease;
  }
}


.section--target {
  background-image: linear-gradient(0deg, rgba(97, 106, 206, 223), #6f79eb 0.2%, #717ce9 26.7%, #6f7de9 26.7%, #7383e9 32.5%, #7285ea 32.5%, #778fe8 39.3%, #7891e7 39.3%, #83afe5 54%, #81b0e3 54%, #81b0e3 54.2%, #84b0e4 54.2%, #84b0e4 54.5%, #82b1e4 54.5%, #8bc5e2 64.3%, #89c6e1 64.3%, #8cc9e2 66.9%, #8ccbe1 66.9%, #8ed3e1 71.3%, #90d2e1 71.6%, #94dcdf 78.3%, #92dddf 78.3%)
}

.section {

  overflow: hidden;

  &__backgrounds {
    position: relative;
    height: 100%;
    z-index: 1;
  }
  &__content {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    box-sizing: border-box;
  }
}

.background {
  position: absolute;
  top: 0;

  &--back {
    left: 0;
    height: 100%;
    z-index: 3;
  }
  &--dude {
    right: 2%;
    height: 100%;
    z-index: 2;
  }
  &--name {
    height: 43.5vh;
    right: 0;
    top: 11%;
    z-index: 1;
  }
}

.stages {
  width: 160px;
  margin-left: 65px;

  text-transform: uppercase;
  color: #268cbc;
  letter-spacing: .2px;

  li {
    margin-bottom: 20px;
    text-align: center;
  }

  &__name {
    font-weight: 300;
  }

  &__link {
    position: relative;
    font-weight: 800;
    text-decoration: none;
    &:hover {
      color: #9af0e1;
    }

    &:before {
      display: block;
      font-weight: 400;
      position: absolute;
      left: -8px;
      font-family: 'Panton', Arial, sans-serif;
    }

    &__text {
      text-decoration: underline;
    }
  }
}

.description {
  position: absolute;

  bottom: calculateRem(140px);
  left: calculateRem(100px);

  max-width: calculateRem(430px);

  color: #fff;
  font-weight: 300;

  &__stage {
    margin-bottom: calculateRem(10px);
    font-size: calculateRem(19px);
    text-transform: uppercase;
  }
  &__name {
    font-size: calculateRem(72px);
    text-transform: uppercase;
    color: #9af0e1;
  }
  &__surname {
    font-size: calculateRem(48px);
    text-transform: uppercase;
    margin-bottom: calculateRem(10px);
    color: #9af0e1;
  }

  &__text {
    line-height: calculateRem(24px);
    font-size: calculateRem(14px);
  }
}


.navigation-dots {
  position: absolute;
  right: calculateRem(90px);
  top: 150px;

  font-size: 0;

  a {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-bottom: 30px;
    background-color: #48a4d0;
    border-radius: 50%;
    transition: $transition;

    &:hover {
      transform: scale(1.5);
      background-color: #fff;
      transition: $transition;
    }
  }

  .active {
    a {
      transform: scale(1.5);
      background-color: #fff;
    }
  }

  &:after {
    content: "";
    position: absolute;
    right: 5px;
    height: 1000px;
    border-right: 1px solid #6ca7cc;
  }
}

.about {
  position: absolute;
  right: calculateRem(96px);
  bottom: 0;
  width: calculateRem(406px);
  padding-top: calculateRem(80px);
  padding-bottom: calculateRem(85px);
  padding-left: calculateRem(50px);
  padding-right: calculateRem(70px);

  line-height: calculateRem(26px);
  letter-spacing: .2px;

  box-sizing: border-box;
  font-weight: 300;
  color: #fff;
  transition: background-image .4s ease;

  &__person {
    position: relative;
    margin-top: calculateRem(10px);
    cursor: pointer;

    &__name {
      color: #9af0e1;
      text-transform: uppercase;
      font-size: calculateRem(24px);
    }

    span {
      position: absolute;
      left: 100%;
      top: calculateRem(10px);
      margin-left: 5px;
    }
  }

  &__text {
    visibility: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: all .4s ease;
  }

  &:after {
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0) 0%, rgba(0, 0, 255, 0.01) 1%, rgba(37, 105, 168, 0.39) 41%, rgba(37, 109, 167, 0.62) 61%, rgba(38, 111, 168, 0.82) 81%, rgba(39, 113, 168, 0.92) 100%);
    opacity: 0;
    transition: all .4s ease;
    z-index: -1;
  }
  &.open {
    &:after {
      opacity: 1;
      transition: all .4s ease;
    }

    .about__text {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      transition: all .4s ease;
    }
  }

  &--call {
    display: none;
    position: absolute;
    bottom: calculateRem(300px);
    right: 20%;
    width: 100px;
    height: 58px;
    background-image: url('../images/decor-2.png');
    background-size: cover;
    cursor: pointer;
    z-index: 3;

    &__info {
      top: 17px;
      left: 50%;
      margin-left: -12px;
      position: absolute;

    }
  }
}

.about-popup {


  display: flex;
  align-items: center;

  &__close {

  }

  &__inner {
    display: flex;
    padding: 0 calculateRem(60px);
    color: #fff;
    margin-top: -70px;

    &__icon {
      padding-right: 15px;
    }

    &__desc {
      margin-top: -6px;

      &__name {
        margin-bottom: calculateRem(15px);
        font-size: calculateRem(30px);
        color: #9af0e1;
        text-transform: uppercase;
      }
      &__rang {
        margin-bottom: calculateRem(15px);
        font-size: calculateRem(20px);
        font-weight: 600;

      }
      &__text {
        font-size: calculateRem(20px);
        font-weight: 300;
      }
    }


  }
}

.close {
  position: absolute;
  top: 50px;
  right: 25px;

  width: 40px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  z-index: 9;

  &:hover {
    &::before, &::after {

    }
  }
  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }

}

.play {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  bottom: calculateRem(80px);
  margin-left: calculateRem(-163px);
  text-align: center;
  cursor: pointer;

  width: calculateRem(326px);
  height: calculateRem(215px);
  background-image: url('../images/play.png');
  background-repeat: none;
  background-size: cover;
  z-index: 1;

  &:hover {
    background-image: url('../images/play-hover.png');

    .play__text {
      color: $blue;
    }
  }

  &__text {
    font-weight: 800;
    color: #fff;
    font-size: calculateRem(16px);
    letter-spacing: .2px;
    text-transform: uppercase;
  }
}

.info {
  position: absolute;
  right: 150px;
  bottom: 40px;
  font-size: 10px;
  font-weight: 300;

  &__rules {
    color: #9af0e1;
    a {
      text-decoration: underline;
    }
  }

  &__period {
    display: none;
    color: #fff;
  }
}

.video-popup {

  &__turn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    z-index: -1;

    transition: all .3s ease;

    &.show {
      visibility: visible;
      opacity: 1;
      z-index: 9;
      transition: all .3s ease;
    }
  }
}

.icon-arrow {
  width: calculateRem(40px);
  height: calculateRem(14px);
  background-image: url("../images/icon-arrow.png");
  background-size: cover;
}

@import "partials/header";
@import "partials/footer";
@import "partials/medias";